body{
    margin: 1;
}
.logo{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: beige;
    align-items: center;
}
.navigationbar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

}
.p1{
    margin: 5px;
}
.p2{
    margin: 10px;
}
.p3{
    margin: 5px;
}
.left{
    background-color: blue;
    width: 400px;
    padding: 20px;
}
.menu{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 85vw;
    color: black;
    padding: 50px;
}

.menu1{
    padding: 20px;
}

.menu1 > input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

.button{
    height: 30px;
    inline-size: 50%;
    padding-left: 250px;
    padding-right: 210px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: orangered;
    color: white;
    text-align: center;
}
.button1{
    height: 30px;
    inline-size: 50%;
    padding-left: 250px;
    padding-right: 210px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color:white
}